
@media only screen and (min-width: 767px) and (max-width: 992px) {
	#enigma_nav_top.affix {
		padding-top: 25px;
	}
	.navbar-default .navbar-nav > li > a {
		font-weight: 400;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	#enigma_nav_top.affix {
		padding-top: 25px;
	}
}
@media (min-width: 768px) {
	.enigma_header_widget_column .input-group {
		display: block;
	}
}