/*****
Theme Name: Enigma-child
Theme URI:http://weblizar.com/themes/enigma/
Author: weblizar
Author URI: http://weblizar.com/
Description: Enigma is an incredibly superfine multipurpose responsive theme with WPML Compatible & designed with a lot of care and love.The Theme has support of "WOOCOMMERCE" You can use it for your business, portfolio, blogging or any type of site.Enigma is Responsive and flexible based on BOOTSTRAP CSS framework that adapts your website to mobile devices and the desktop or any other viewing environment.We focused on usability across various devices, starting with smartphones.Enigma is a Cross-Browser Compatible theme that works on All leading web browsers.Enigma is Retina ready.It has 4 page layouts, 2 page templates, It has five widgets available (one sidebar, four footers), and using the sidebar widget also enables you to make a two-column design. In addition, footer widget display is automatically adjusted depending on how many are used.Enigma has  Filkr as a custom widget to showing up your Flikr Photos .Custom menus to choose the menu in Primary Location that is in Header area of the site.In header area and footer of the theme offers Social Media Links to add your Social Links here. Enigma  focusing on business template, awesome Caroufredsel slider, Powerful but simple Theme Options for full CMS control option to match your logo & website, wide layout, light & dark color skin, translation ready and many more. You can check the demo at http://demo.weblizar.com/enigma-free-theme/.
Version: 2.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Tags: black, blue, gray, red, dark, light, silver, white, green, brown, two-columns, three-columns, four-columns, custom-menu, right-sidebar, fixed-layout, fluid-layout, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, responsive-layout, translation-ready ,rtl-language-support
Text Domain: weblizar
Template: enigma
*/

/**************************** body style ******************************/

body{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

body.custom-background {
    background-color: #ffffff;
}


h1{
	font-family: 'Raleway'. sans-serif;
	font-weight: 500;
	color: #ffffff;
}
a {
	cursor: pointer;
}
.breadcrumb {
	color: #d8d8d8;
}
.breadcrumb li a {
	color: #42BB93 !important;
}

.breadcrumb > li + li::before {
	color: #ffffff;
	content:"\f0da";
	font-family: 'FontAwesome';
}

/**************************** navigation menu **************************/


.logo{
	margin: 15px 0px;
}

.logo img {
	height: auto!important;
	margin-left: auto;
	margin-right: auto;
}

.header_section{
	background-color: #f5f5f5;
}

.enigma_header_widget_column .input-group {
	float: right;
	display: none;
	position: relative;
	top: 50%;
	transform: translateY(80%);
}

#searchform .form-control, #searchform .btn {
	height: 30px;
}
.fa-search::before {
  content: "";
  font-size: 15px;
  position: relative;
  top: -6px;
}
.btn-search {
	background: #333333!important;
}

.navigation_menu{
	border-top: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #D22162;
	font-family: 'Raleway', serif;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #D22162;
	font-family: 'Raleway', serif;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Raleway', serif;
	font-weight: 500;
}

.fa-angle-down {
    float: right;
    font-size: 16px !important;
    margin-right: -14px;
}    
    
.fa-angle-down::before {
	content: "\f0d7";
}
.dropdown-menu > li > a::before {
	content: "\f0da";
}

.dropdown-menu .active .dropdown-menu .active a {
	background-color: #ffffff;
	color: #333333;
}

.dropdown-menu {
    background-color: rgba(210, 33, 98, 0.9);
}

.dropdown-menu > li > a{
    font-family: 'Raleway', serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .dropdown-menu .active a {
	background-color: #D22162;
	font-family: 'Raleway', serif;
}
.navbar-default .navbar-nav .active .active > a {
	background-color: #ffffff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
	color: #42bb93;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #D22162;
    text-decoration: none;
    background-color: #ffffff;
    padding: 7px 20px 7px 22px;
    font-family: 'Raleway', serif;
}

/**************************** slideshow *******************************/

.carousel-list li {
	background: rgba(0,0,0,0.6);
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

.carousel-caption{
	text-shadow: none;
}

.carousel-text h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #000000;
	background: rgba(255,255,255,0.6);
}

.carousel-text .enigma_blog_read_btn{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #ffffff;
	background-color: #801D41;
}
.enigma_blog_read_btn {
    border: none;
    background-size: 100% 200%;
    background-color: #E9255B;
    background-image: linear-gradient(to bottom, #E9255B 50%, #fff 50%);
}
.enigma_blog_read_btn:hover{
	color: #D22162;
}

.enigma_slider_shadow{
	background-color: #232323;
}

/************ services ****************/

.enigma_service {
    background-color: #232323;
}

.enigma_service h3{
	color: #ffffff;
    font-weight: lighter;
}

.enigma_heading_title h3{
	border-bottom: 4px solid #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 300;
}

.enigma_service_detail .media, .media-body a{
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
}

.enigma_service_detail media-body a:hover, a:focus h3 {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 32px;
    word-wrap: break-word;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

.enigma_service_detail p{
	color: #ffffff;
}

.enigma_service_iocn {
    border: none;
    background-color: #D22162;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #D22162 50%, #fff 50%);
}

.enigma_service_area:hover .enigma_service_iocn i{
	color: #D22162;
}

/********************** project section **********************/


.enigma_project_section h3{
	color: #000000;
	font-weight: lighter;
	border-bottom: none;
}

.enigma_home_portfolio_caption {
	font-family: 'Roboto Slab', serif;
    border-radius: 0;
    padding: 0 0 15px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #ccc;
    border-bottom: 4px solid #D22162;
    border-right: 1px solid #ccc;
    background: #ffffff;
}

.enigma_home_portfolio_caption h3 {
	font-family: 'Roboto Slab', serif;
	border-bottom: none;
	padding-top: 10px;
}

.enigma_home_portfolio_caption h3 a {
	font-size: 18px;
}

.img-wrapper:hover .enigma_home_portfolio_caption {
    background: #D22162;
    border-left: 1px solid #D22162;
    border-bottom: 4px solid #ffffff;
    border-right: 1px solid #D22162;
}

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a i {
	font-size: 1em;
	line-height: 28px;
}

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
	background-color: #D22162;
	border: #D22162;
	height: 50px;
	width: 50px;
}

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover {
    background-color: #ffffff;
    border: 2px solid #D22162;
    color: #D22162;
}


/******* footer **********/

.enigma_footer_widget_area{
	background: #232323 none repeat scroll 0 0;
	padding: 10px 0 0px;
}

.enigma_footer_area p {
	font-family: "Raleway",san-serif;
	font-size: 12px;
	font-weight: bold;
}

.enigma_footer_area p a:hover {
    color: #000000;
}

.enigma_footer_widget_area p {
	font-family: "Raleway",san-serif;
	font-size: 16px;
	font-weight: light;
	letter-spacing: 1px;
}

.enigma_footer_area p a {
    color: #f2f2f2;
}

.enigma_footer_area {
    background: #232323;
    padding: 10px 10px;
}

/***************** page ************************/

.enigma_header_breadcrum_title h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.enigma_header_breadcrum_title body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.enigma_sidebar_widget_title {
    background: #D22162 none repeat scroll 0 0;
}

.enigma_sidebar_widget {
    background-color: #ffffff;
    border-bottom: 3px solid #D22162;
    border-left: 3px solid #D22162;
    border-right: 3px solid #D22162;
}

.breadcrumb li a {
    color: #D22162;
}

.enigma_header_breadcrum_title {
    margin-bottom: 70px;
    background: #232323;
    opacity: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    
.btn .btn-search {
    color: #ffffff;
    background: none;
}